.search{
    position: fixed;
    top:35.4rem;
}

.main{
    width: 50rem;
}
/* 
::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    background: #F0F4F9     
}

::-webkit-scrollbar-thumb{
    background:black
}
 */

 *::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

/* CSS for scrollbar track */
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #f1f1f118; /* Set the background color of the scrollbar track */
}

/* CSS for scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Make the scrollbar thumb rounded */
}

/* CSS for scrollbar thumb on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color of the scrollbar thumb on hover */
}

